@font-face {
    font-family: 'plane-regular';
    src: url('./fonts/plain-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Plane Light';
    src: url('./fonts/plain-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'silkserif-light';
    src: url('.//fonts/silkserif-lightitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'silkserif-regular';
    src: url('./fonts/silkserif-regularitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


/* basic code */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: white;
    font-family: "Plane Light";
}

html,
body {
    width: 100%;
    height: 100%;
    /* cursor: none; */
}

#crsr {
    width: 3.5vw;
    height: 3.5vw;
    z-index: 9999;
    position: fixed;
    border-radius: 50%;
    border: 0.7px solid white;
    mix-blend-mode: difference;
}

#loder {
    width: 100%;
    height: 100%;
    background-color: #0B0B0B;
    z-index: 999;
    position: fixed;
    padding: 8vw 7vw;
    /* display: none; */

}

.line {
    /* background-color: red; */
    height: fit-content;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 3vw;
}

#line-one-part1 {
    display: flex;
    justify-content: flex-end;
    /* background-color: red; */
    width: fit-content;

    margin-left: 0.8vw;

    width: 15vw;
    gap: 1vw;
    height: 100%;
}

#line-one-part1 h5 {
    font-size: 3.5vw;
    font-family: 'silkserif-regular';

}

#line-one-part1 h6 {
    font-size: 3.5vw;
    font-family: 'silkserif-regular';
}

.line h1 {
    font-size: 6.8vw;
    text-transform: uppercase;
    font-weight: 600;
    line-height: 8vw;
    position: relative;


}

.line span {
    font-size: 6.5vw;
    width: 17vw;
    height: 8vw;
    text-transform: uppercase;
    animation-name: nowAnime;
    animation-duration: 1.5s;
    animation-delay: 1s;
    animation-iteration-count: infinite;
    /* background-color: red; */

    /* font-weight: 500; */

}


@keyframes nowAnime {
    0% {
        font-family: "Plane Light";
        color: white;
        /* font-weight: 500; */
        opacity: 1;
    }

    45% {
        font-family: "Plane Light";
        color: white;
        /* font-weight: 500; */
        opacity: 0;
    }

    50% {
        font-family: 'silkserif-regular';
        -webkit-text-stroke: 1px white;
        color: transparent;
        font-weight: 400;
        opacity: 1;
    }

    95% {
        font-family: 'silkserif-regular';
        -webkit-text-stroke: 1px white;
        color: transparent;
        font-weight: 400;
        opacity: 0;

    }


}

#waitMsg {
    /* background-color: red; */
    width: 9vw;
    height: fit-content;

    position: absolute;
    top: 35vw;
    left: 28vw;
    font-size: 1.2vw;

}


#main {
    position: relative;
}

#page1 {
    width: 100%;
    height: 93vh;
    background-color: #151515;
    padding-top: 1px;


}

#nav {
    /* background-color: red; */
    width: 100%;
    height: 7.5vw;
    margin-top: 1.5vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 6vw;

}

#nav-left {
    display: flex;
    gap: 3vw;
}

#obys-logo {
    display: flex;
    align-items: center;
}

#nav-right {
    display: flex;
    gap: 3vw;

}

#nav-right p {
    text-decoration: none;
    font-size: 1.25vw;
}

#page1-body {
    /* background-color: red; */
    width: 72%;
    margin-left: 28%;
    margin-top: 5vw;
}

.page1-heading {
    overflow: hidden;
}

#page1-span-1,
#page1-span-2 {
    text-decoration: underline;

    transition: all ease 0.3s;

}

#page1-span-1:hover {
    -webkit-text-stroke: 1px white;
    color: transparent;
    font-weight: 500;
    text-decoration: none;
}

#page1-span-3:hover {
    -webkit-text-stroke: 1px white;
    color: transparent;
    font-weight: 500;
    /* text-decoration: none; */
}


#page1-span-2:hover {
    -webkit-text-stroke: 1px white;
    color: transparent;
    font-weight: 500;
    text-decoration: none;

}

.page1-heading h1 {
    text-transform: uppercase;
    font-size: 8vw;
    line-height: 8vw;
    font-weight: 600;

}

#page2 {
    width: 100%;
    height: 90vh;
    background-color: #151515;
    position: relative;

}

#page2-video {
    width: 70%;
    height: 70vh;
    position: absolute;
    left: 30%;
    top: 3%;
}

#page2-video img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    z-index: 99;

}

#page2-video video {
    width: 100%;
    height: 100%;
    object-fit: cover;

}

#img-curser {
    width: 11vw;
    height: 11vw;
    background-color: #FFA63D;
    border-radius: 50%;
    position: absolute;
    z-index: 100;
    left: 75%;
    top: -19%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#img-curser i {
    font-size: 2.5vw;
}


#page3 {
    /* width: 100%;
    min-height: 100vw; */
    background-color: red;
}

#page4 {
    width: 100%;
    min-height: 250vh;
    height: fit-content;
    background-color: #151515;
    position: relative;
    padding-top: 1px;


}

#page4-wraper {
    /* background-color: red; */
    width: 66%;
    height: fit-content;
    margin-left: 28%;
    margin-top: 9%;
    position: relative;
}

#page4 h1 {
    font-size: 7.5vw;
    text-transform: uppercase;
}

.p4-underline-1 {
    width: 100%;
    height: 1px;
    background-color: white;

    margin: 3vw 0 4.5vw 0;
}

.u2 {}

#page4 p {
    width: 80%;
    font-size: 2.8vw;
    /* background-color: red; */
}

#page4-wraper-2 {
    display: flex;
    width: 95%;
    height: 80vh;
    justify-content: space-between;
    margin-top: 5.5vw;
    position: relative;
}

#p4-left {
    width: 55%;
    height: 100%;

}

#p4-left img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#p4-right {
    width: 40%;
    height: 60%;
    /* background-color: red; */
    font-size: 1.4vw;
}

#blueContainer {
    width: 63%;
    height: fit-content;
    background-color: #3F7DF4;
    position: relative;
    padding: 5vw 4vw 4.5vw 4vw;
    margin-top: -13%;
    left: 37%;
}

.blueBox {
    display: flex;
    justify-content: center;

}

#blueContainer p {
    font-size: 1.3vw;
    border-bottom: 2px solid white;
    padding: 2vw 0vw;
}

#blueContainer p:nth-child(1) {
    font-size: 1.6vw;
}

.u2 {
    margin-top: 7vw;
}

#h4-end p {
    font-size: 1.3vw;
    margin-top: -3.5vw;
}


#page5 {
    width: 100%;
    height: fit-content;
    background-color: #151515;
    padding-top: 8vw;
    position: relative;
}

#scrollBar1 {
    height: fit-content;
    display: flex;
    justify-content: flex-start;
    flex-wrap: nowrap;
    /* background-color: red; */
    overflow-x: hidden;
    margin: 1.2vw 0;

}

#scrollBar1 h1 {
    flex-shrink: 0;
    font-size: 7vw;
    text-transform: uppercase;
    -webkit-text-stroke: 1px white;
    color: transparent;
    font-weight: 500;
    animation-name: animeRtoL;
    animation-duration: 25s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

#scrollBar1 h1:nth-child(1) {
    margin-right: 1.7vw;
}

@keyframes animeRtoL {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(calc(-100% - 1.7vw));
    }
}



#scrollBar2 {
    height: fit-content;
    display: flex;
    justify-content: flex-start;
    flex-wrap: nowrap;
    /* background-color: red; */
    overflow-x: hidden;

}

#scrollBar2 h1 {
    flex-shrink: 0;
    font-size: 7vw;
    text-transform: uppercase;
    -webkit-text-stroke: 1px white;
    color: transparent;
    font-weight: 500;
    position: relative;
    transform: translateX(-100%);
    animation-name: animeRtoL;
    animation-duration: 25s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: reverse;

}

#scrollBar2 h1:nth-child(1) {
    margin-right: 1.7vw;
    /* background-color: red; */
}

#scrollBar1 h1 span {
    font-family: 'silkserif-light';
    -webkit-text-stroke: 1px white;
    color: transparent;

}

#scrollBar2 h1 span {
    font-family: 'silkserif-light';
    -webkit-text-stroke: 1px white;
    color: transparent;

}

#page6 {
    width: 100%;
    min-height: 90vh;
    height: fit-content;
    /* background-color: red; */
    padding-top: 1px;
    background-color: #151515;

}

#page6-container {
    width: 66%;
    height: fit-content;
    margin-left: 28%;
    margin-top: 18%;
    position: relative;
    /* background-color: gold; */
}

#page6-container h1 {
    font-size: 7.5vw;
    text-transform: uppercase;
}
.u3{
    margin-top: 1.6vw;
}

#page6-sections{
    display: flex;
    justify-content: space-between;
    margin-bottom: 6vw;
}

#page6-sections div{
    width: 27%;
    height: 100%;
}
#page6-sections div h3{
    margin-bottom: 2vw;
    font-size: 1.3vw;
    text-transform: capitalize;
}
#page6-sections div h2{
    font-weight: 500;
}

#footerText{
    padding-bottom:5vw;
    
}
#email{
    
    text-decoration: underline;
}